# AWS Bedrock Credentials (TEMPLATE)
AWS_ACCESS_KEY_ID=YOUR_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY=YOUR_SECRET_ACCESS_KEY
AWS_REGION=ap-south-1

# Qdrant (Docker)
QDRANT_HOST=qdrant
QDRANT_PORT=6333

HUGGINGFACE_API_KEY=hf_xxxxxxxxx
LLM=AWS or HF

# LLM Config
BEDROCK_LLM_MODEL=mistral.mistral-7b-instruct-v0:2
BEDROCK_EMBED_MODEL=amazon.titan-embed-text-v2:0
